@use "variables" as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: v.$fuente_secundaria;
  font-size: 1.6rem;
  background-color: v.$cafeClaro;
}

p {
  color: v.$negro;
  font-size: 1.6rem;
  line-height: 2;
}

.contenedor {
  margin: 0 auto;
  max-width: 120rem;
  width: 95%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
